services:
  - type: web
    name: glambook-makeup
    runtime: docker
    plan: free
    region: singapore
    dockerfilePath: ./Dockerfile
    healthCheckPath: /login
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://glambook-makeup.onrender.com
      # Database vars will be auto-injected by Render
      - key: DB_CONNECTION
        value: pgsql

databases:
  - name: glambook-db
    databaseName: glambook
    user: glambook_user
    region: singapore
    plan: free